@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

:root {
	--color-white: #fff;
	--color-pink: #E19898;
	--color-dark-purple: #44274D;
	--color-light-purple: #4D3C77;
	--color-maroon: #3F1D38;
	--color-black: #000000;
	--font-h1-d: 400 80px 'Jost', sans-serif;      
	--font-h1-m: 400 48px 'Jost', sans-serif;
	--font-h2-d: 400 30px 'Jost', sans-serif;
	--font-h2-m: 400 20px 'Jost', sans-serif;
	--font-h3-d: 400 20px 'Jost', sans-serif;
	--font-p-d: 400 20px 'Jost', sans-serif;
	--font-p-m: 400 18px 'Jost', sans-serif; 

}

* {
	font-family: 'Jost', sans-serif;
	text-decoration: none;
	font-size: 18px;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
	text-decoration: none;
}

.header {
	background-color: var(--color-pink);
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 12vh;
	align-items: center;
	flex-direction: row;
}

.logo {
	margin: 5px 30px;
}

.navbar {
	display: flex;
	flex-direction: row;
	width: 15%;
	justify-content: space-between;
	margin: 5px 30px;
}

.menu {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.menu li a {
	color: var(--color-white);
}

.link {
	background: var(--color-dark-purple);
	opacity: 50%;
	color: var(--color-white);
	padding: 5px 15px;
	border-radius: 20px;
	border: 1px solid var(--color-white);
}

.link:hover {
	text-decoration: none;
	cursor: pointer;
}


/* MAIN */
.container{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	
}
.containerImg{
	width: 50%;
}
.sectionDrop{
	margin: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-pink);
	width: 468px;
	height: 468px;
	border-radius: 500px 0 500px 500px;
	
}

.imgPhoto{
	width: 420px;
	height: 420px;
}


.titleAside{
	width: 40%;
	margin: 0 60px;
}

.home{
	margin-top: 50px;
	width: 30%;
}
.title{
	font: var(--font-h1-d);
	color: var(--color-pink);
	line-height: 70px;
	margin-top: 40px;
}

.titleAside h2{
	font: var(--font-h2-d);
	color: var(--color-maroon);
}

.titleAside p{
	font: var(--font-p-d);
	margin: 20px 0;
	
}

.asideLinks{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
    margin: 40px 0;
    width: 40%;
}

.callButton{
	background: var(--color-light-purple);
    color: var(--color-white);
    padding: 10px 25px; /*el boton me parecia muy pequeño, revisar otra vez*/
    border-radius: 25px;
    display: flex;
	align-items: center;
	font: var(--font-p-d);
	
}


/*Estilo formulario*/

.containerForm{
	width: 100%;
	padding: 30px
}

.titleForm{
	font: var(--font-h1-d);
	color: var(--color-pink);
	margin: 0 60px;

}

.formContact {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	margin: 30px 0;
}

.form{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 40px 0;
}

.formName{
	display: flex;
	flex-direction: column;
}
.formCamp{
	display: flex;
	flex-direction: column;
	margin: 0 20px;
}

.formContact input,.formContact textarea {
	width: 100%;
	background-color: var(--color-pink);
	opacity: 30%;
	border: none;
	padding: 8px 15px;
	border-radius: 20px;
	
}

.formContact input{
	width: 310px;
	
}

.formContact textarea{
	width: 300px;
	height: 100px;
} 
  
.form label{
	color: var(--color-light-purple);
	font: var(--font-p-d);
	padding-left: 15px;
}

.formButton input {
	background-color: lightcoral;
	color: #fff;
	border: none;
	padding: 10px 1px;
	border-radius: 50px;
	cursor: pointer;
	width: 40%;
}

.formButton input:first-child{
	background-color: var(--color-light-purple);
	opacity: 100%;
	width: 20%;
}

.formButton input:last-child{
	background-color: var(--color-pink);
	opacity: 100%;
	width: 20%;
}
.formButton input:first-child:hover {
	background-color: var(--color-pink);
}

.formButton input:last-child:hover {
	background-color: var(--color-light-purple)
}


/* FOOTER */
.footer{
	margin-top: auto;
	display: flex;
	flex-direction: row;
	background-color: var(--color-pink);
	justify-content: space-around;
	
}

.footer ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: var(--color-pink);
	padding: 30px 0;
}



.footer li {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 45px;	
}


.footer li h3 {
	margin-top: 20px;
	color: var(--color-white);
	font: var(--font-h3);
}

.footer li p {
	color: var(--color-black);
	font: var(--font-p-d);
	
}

.footer li a img {
	width: 160px;
	height: auto;
}

.footer li a .linkedinMini {
	width: 50px;
	height: auto;
	margin-top: 20px;
}


/* MOBILE */
@media screen and (max-width: 768px) {
	.header {
		display: flex;
		justify-content: center;
	}

	.logo {
		justify-content: center;
		/* Centra horizontalmente */
		align-items: center;
		/* Centra verticalmente */
	}

	.navbar {
		height: 10vh;
		position: fixed;
		/* Para mantenerlo en la parte inferior */
		bottom: 0;
		/* Coloca el navbar en la parte inferior */
		width: 100%;
		/* Ancho completo */
		background-color: var(--color-maroon);
		margin: 0;

	}

	.menu {
		flex-direction: row;
		align-items: center;
		margin: 0 100px;
	}


	/*MAIN*/
	.container{
		display: flex;
		flex-direction: column;
		width: 99%;
		margin: 40px 0;
	}

	.sectionDrop{
		width: 350px;
		height: 350px;	;
	}
	
	.imgPhoto{
		width: 310px;
		height: 310px;
	}

	.title{
		font: var(--font-h1-m);
		margin: 0;
		line-height: 40px;
	}
	.home{
		margin: 0 40px;
		width: 90%;
	}

	.mobile{
		margin: 0 40px;
		width: 90%;
	}

	.titleAside h2{
		font: var(--font-h2-m);
	}

	.titleAside p{
		font: var(--font-p-m);
	}

	.asideLinks{
		margin-top: 30px;
		width: 100%;
		justify-content: start;
    }

	.callButton{
		font: var(--font-p-m);
		margin: 0;
	}

	.linkedinMini{
		margin-right: 20px;
	}




	
	/* FOOTER */
	.footer{
		display: flex;
		flex-wrap: wrap;
		bottom: 1;
	}

	.footer ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 30px;
	}


	.footer li{
		margin: 0 0 30px 0;
	}
	
	.footer li:last-child {
		margin-bottom: 90px;
		justify-content: center;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	  }
	  .footer li p:last-child {
		text-align: center;
		align-items: center;

	  }
	  .footer li h3:last-child {
		text-align: center;
		align-items: center;
		padding-left: 20px;

	  }

	.footer li p {
		font: var(--font-p-m);
	}
}
